body{
    font-size: 16px;
    margin:0;
    padding: 0;
    background-color:  hsl(225, 100%, 94%);
    
}
    




.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:350px;
    height: 550px;
    background-color: white;
    color: #000;
    border-radius: 10px;
    
    
}
.hero{
    width:350px;
    height: 180px;
}
 h2, p{
    text-align: center;
 }

 h2{
    font-weight: 700;
    font-size: 26px;
 }
 .details{
    width: 280px;
    margin:auto;
 }

 .music{
    width: 35px;
    height: 35px;
    margin: auto 70px;
 }
 .style{
    display: flex;
    background-color: #f0f0ff;
    border-radius: 20px;
 }

 ul li{
list-style: none;
margin-left: -100px;
padding: 3px;
 }

 .ash{
    float: right;
    margin: auto 20px;
    color: blue;
    font-size: 15px;
 }

button{
    background-color:rgb(10, 8, 141);
    margin: 25px 30px;
    padding: 10px;
    width: 280px;
    border: none;
    color: rgb(247, 245, 250);
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 50px;
}

button:hover{
    color: #000
}